<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Librar.io</title>
    <link rel="stylesheet" type="text/css" href="/css/Style.css"/>
</head>
<body>
    <h1>Librar.io</h1>
    <label for="Uname">Username:</label><br>
    <input type="text" id="Username" name="Username"><br>
    <label for="Pass">Password</label><br>
    <input type="password" id="Password" name="Password">
</body>
</html>